@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~normalize.css/normalize.css";
.container {
  display: flex; /* or inline-flex */
  flex-direction: row;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.app-toolbar-icon {
  padding-left: 10px;
  margin-left: 5px;
}
.App {
  width: 100%;
}
.content {
  width: 100%;
}
.event-table {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 50px;
}
.app-icon-button {
  margin-left: 5px;
}
.event-content {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 50px;
}
.pt-navbar-heading a {
  color: white;
}
.pt-navbar-heading a:hover {
  color: white;
}
.newevent-content {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 50px;
}
.new-event-create-buttons {
  padding-top: 20px;
}
.new-event-group-row {
  padding-top: 10px;
}
.event-enroll-button {
  padding-top: 30px;
}
.pt-input {
  margin-left: 5px;
}
.event-enroll-total {
  padding-top: 10px;
}
